@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Layouts.cshtml";
}

<div class="gallery py-5" id="gallery">
    <div class="container py-xl-5 py-lg-3">
        <div class="title-section mb-md-5 mb-4">
            <h6 class="w3ls-title-sub">Our Hospital</h6>
            <h3 class="w3ls-title text-uppercase text-dark font-weight-bold">Gallery</h3>
        </div>
        <div class="gal-pop-style pt-xl-4">
            <div class="row">
                <div class="col-md-4 gal-img">
                    <a href="#gal1" title="Be Clinic"><img src="~/Assets/client/images/g1.jpg" alt="gallery" class="img-fluid"></a>
                </div>
                <div class="col-md-4 gal-img my-md-0 my-4">
                    <a href="#gal2" title="Be Clinic"><img src="~/Assets/client/images/g2.jpg" alt="gallery" class="img-fluid"></a>
                </div>
                <div class="col-md-4 gal-img">
                    <a href="#gal3" title="Be Clinic"><img src="~/Assets/client/images/g3.jpg" alt="gallery" class="img-fluid"></a>
                </div>
            </div>
            <div class="row my-4">
                <div class="col-md-4 gal-img">
                    <a href="#gal4" title="Be Clinic"><img src="~/Assets/client/images/g4.jpg" alt="gallery" class="img-fluid"></a>
                </div>
                <div class="col-md-4 gal-img my-md-0 my-4">
                    <a href="#gal5" title="Be Clinic"><img src="~/Assets/client/images/blog1.jpg" alt="gallery" class="img-fluid"></a>
                </div>
                <div class="col-md-4 gal-img">
                    <a href="#gal6" title="Be Clinic"><img src="~/Assets/client/images/blog2.jpg" alt="gallery" class="img-fluid"></a>
                </div>
            </div>
            <div class="row my-md-0 my-4">
                <div class="col-md-4 gal-img">
                    <a href="#gal7" title="Be Clinic"><img src="~/Assets/client/images/blog3.jpg" alt="gallery" class="img-fluid"></a>
                </div>
                <div class="col-md-4 gal-img my-md-0 my-4">
                    <a href="#gal8" title="Be Clinic"><img src="~/Assets/client/images/bg.jpg" alt="gallery" class="img-fluid"></a>
                </div>
                <div class="col-md-4 gal-img">
                    <a href="#gal9" title="Be Clinic"><img src="~/Assets/client/images/bg1.jpg" alt="gallery" class="img-fluid"></a>
                </div>
            </div>
        </div>
    </div>
</div>