 <!-- footer -->
<footer class="py-5">
    <div class="container py-xl-5 py-lg-3">
        <div class="row">
            <div class="col-lg-7 w3l-footer">
                <!-- logo -->
                <div class="logo2">
                    <h2>
                        <a href="index.html">
                            <span class="fa fa-user-md mr-2"></span>
                            <span class="logo-sp">Be</span> Clinic
                        </a>
                    </h2>
                </div>
                <!-- //logo -->
                <p class="mt-4 text-li">
                    Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque
                    laudantium, totam rem
                    aperiam,
                    eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
                </p>
                <ul class="list-unstyled list-styles mt-lg-5 mt-4">
                    <li>
                        <p class="text-li"><span class="fa fa-location-arrow mr-2"></span>Morris Park, New York</p>
                    </li>
                    <li class="my-3">
                        <p class="text-li"><span class="fa fa-phone mr-2"></span>1234567890</p>
                    </li>
                    <li>
                        <a href="mailto:info@example.com" class="text-wh"><span class="fa fa-envelope-open mr-2"></span>mail@example.com</a>
                    </li>
                </ul>
            </div>
            <div class="col-lg-5 w3l-footer mt-lg-0 mt-5">
                <h3 class="mb-sm-4 mb-3 text-wh">Partners</h3>
                <ul class="list-unstyled list-part text-wh pt-lg-3">
                    <li><span class="fa fa-500px" aria-hidden="true"></span></li>
                    <li class="mx-4"><span class="fa fa-gg" aria-hidden="true"></span></li>
                    <li><span class="fa fa-lastfm" aria-hidden="true"></span></li>
                    <li class="mx-4"><span class="fa fa-openid" aria-hidden="true"></span></li>
                    <li><span class="fa fa-angellist" aria-hidden="true"></span></li>
                </ul>
                <div class="n-right-w3ls mt-5 pt-lg-4">
                    <h3 class="mb-sm-4 mb-3 text-wh">Newsletter</h3>
                    <form action="#" method="post">
                        <div class="row pt-2">
                            <div class="col-8 form-group">
                                <input class="form-control" type="email" name="Email" placeholder="Email Address" required="">
                            </div>
                            <div class="col-4 form-group p-sm-0 pl-0">
                                <button class="form-control submit btn font-weight-bold" type="submit">Subscribe</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- //footer -->
<!-- footer bottom -->
<!-- copyright -->
<div class="copy-w3pvt">
    <div class="container py-3">
        <div class="row">
            <div class="col-lg-7 w3ls_footer_grid1_left text-lg-left text-center">
                <p>
                    &copy; 2019 Be Clinic. All rights reserved | Design by
                    <a href="http://w3layouts.com/">W3layouts</a>
                </p>
            </div>
            <div class="col-lg-5 w3ls_footer_grid_left1_pos text-lg-right text-center mt-lg-0 mt-2">
                <ul>
                    <li>
                        <a href="#" class="facebook">
                            <span class="fa fa-facebook-f mr-2"></span>Facebook
                        </a>
                    </li>
                    <li class="mx-3">
                        <a href="#" class="twitter">
                            <span class="fa fa-twitter mr-2"></span>Twitter
                        </a>
                    </li>
                    <li>
                        <a href="#" class="google">
                            <span class="fa fa-google-plus mr-2"></span>Google Plus
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- //copyright -->
<!-- //footer bottom -->