 <!-- top header -->
<header>
    <div class="top-bar py-3">
        <div class="container">
            <div class="row">
                <div class="col-xl-5 col-lg-6 col-md-8 top-social-agile text-lg-left text-center">
                    <div class="row">
                        <div class="col-5 header-top_w3layouts">
                            <p class="text-bl">
                                <span class="fa fa-map-marker mr-2"></span>3/48 Trần Quang Khải
                            </p>
                        </div>
                        <div class="col-4 header-top_w3layouts">
                            <p class="text-bl">
                                <span class="fa fa-phone mr-2"></span>033 968 1151
                            </p>
                        </div>
                        <!-- social icons -->
                        <ul class="col-3 top-right-info">
                            <li class="mx-3">
                                <a href="#">
                                    <span class="fa fa-facebook-f"></span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <span class="fa fa-google-plus"></span>
                                </a>
                            </li>
                        </ul>
                        <!-- //social icons -->
                    </div>
                </div>
                <div class="col-xl-7 col-lg-6 col-md-4 top-social-agile text-md-right text-center mt-md-0 mt-2">
                    <div class="row">
                        <div class="offset-xl-6 offset-lg-4">
                        </div>
                        <div class="col-xl-3 col-lg-4 col-6 top-w3layouts p-md-0 text-right">
                            <!-- login -->
                            <a href="login.html" class="login-button-2 text-uppercase text-bl">
                                <span class="fa fa-sign-in mr-2"></span>Đăng nhập
                            </a>
                            <!-- //login -->
                        </div>
                        <div class="col-xl-3 col-lg-4 col-6 header-w3layouts text-md-right text-left">
                            <!-- register -->
                            <a href="register.html" class="login-button-2 text-uppercase text-bl">
                                <span class="fa fa-pencil-square-o mr-2"></span>Đăng kí
                            </a>
                            <!-- //register -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- //top header -->